body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;

}

form {
    text-align: left;
}

.game {
    margin-bottom: 1rem;
    border-bottom: 1px solid #36a170;
    padding-bottom: 1rem;
    width: 6rem;
    text-align: center;
}

.game a {
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
}

.game form {
    margin-top: 0.5rem;
}

label {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #36a170;
    margin-bottom: 2rem;
}

input[type="checkbox"] {
    width: unset;
    margin-right: 1rem;
}

input[type="checkbox"] + label {
    display: inline;
}

button {
    height: 2rem;
    width: 6rem;
    padding: 10px;
    text-align: center;
    background-color: #36a170;
    border: none;
    border-radius: 5px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07);
}

button:hover {
    cursor: pointer;
}

.icon {
    padding: 10px 10px 10px 0;
    color: #36a170;
    min-width: 30px;
    text-align: center;
}

.checkBoxFlex {
    display: flex;
    justify-content: flex-start;
}

i {
    position: absolute;
}

a {
    color: #36a170;
    text-decoration: none;
}

.gameControls {
    width: 100px;
    border: 1px solid #36a170;
    padding: 5px;
}

.gameControls:hover {
    background-color: #36a170;
    color: white;
}

h1 {
    font-size: 3rem;
}

h1, h4 {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #a0aec0;
    width: 100%;
    z-index: 10;
}

.gameheaders {
    display: flex;
    justify-content: flex-start;
}

.gameheaders p, .gameheaders form {
    width: 100px;
}

.gameheader .gameContent p {
    width: 50%;
}

.gameheaders:last-child {
    margin-bottom: 7rem;
}

.datelabel {
    display: block;
    margin-bottom: 1rem;
}

.createGame {
    width: 10rem;
    height: 3rem;
}

select {
    width: 50%;
    padding: 0 10px;
    height: 2rem;
    margin-bottom: 2rem ;
}

.leaderbordHeader {
    display: flex;
    justify-content: space-between;
}

.deathAlive:last-child{
    margin-bottom: 0;
}

.leaderbordTitle {
    text-align: center;
}


