@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

.logoHeader{
    height: 6rem;
    width: auto;
}

.headerContainter {
    margin: 0.5rem auto;
}

article{
    margin-bottom: 7rem!important;
}

.marginBottom{
    margin-bottom: 7rem!important;
}

body {
    font-family: 'Tinos', serif;
}

h1 {
    display: inline;
    padding-top: 1.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem!important;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 0!important;
    font-size: 1.5rem!important;
    text-align: center;
    text-transform: uppercase;
}

nav {
    margin-bottom: 8%;
}

nav ul {
    gap: 10px;
}

nav ul li{
    padding-bottom: 0.2rem;
    list-style-type: none;
    border-bottom: 1px solid transparent;
}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 1rem;
}

nav ul li:hover {
    border-bottom: 1px solid #F3C567;
}

nav ul li a:hover{
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #055353;
    width: 100%;
    z-index: 10;
    padding-top: 5px;
    color: white;
}

footer p, footer a {
    margin-bottom: 0;
    display: inline-block;
    align-self: flex-end;
}

footer svg {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
}

svg {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

footer a:hover {
    color: white;
}

footer a svg {
    height: 30px;
    width: auto;
    margin: auto;
    display: block;
}

.activeLink {
    border: 2px solid #F3C567!important;
}

.subMenu {
    gap: 30px;
}

.copy {
    display: flex;
    height: 100%;
}

.row {
    --bs-gutter-x: 0!important;
}

.subMenuButton {
    color: #055353 ;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #055353;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
}

.subMenuButtonMain {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
}

.subMenuButtonMain:hover {
    color: white;
}

.subMenuButton:hover {
    color: #055353;
}

.subMenuButtonOff {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #055353;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
}

.subMenuButtonOff:hover {
    color: white;
}

.aboutText{
    font-size: 12px;
}

.imgAboutScale {
    height: 40%;
}

.textIndent{
    padding-left: 1rem!important;
}

h4{
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3rem!important;
}

.menu li h4 {
    display: inline;
}

.menu li{
    list-style-type: none;
}

.menu li p{
    display: inline;
}

.menu em{
    font-size: 0.8rem;
}

.menuItem{
    width: 50px;
}

.menuItemSolo{
    width: 100px;
}

.menuItemSoloPrice{
    text-align: right;
}

.marginBottomSmall{
    margin-bottom: 2rem;
}

.phone {
    color: white;
    text-decoration: none;
}

.nav-link {
    color: black!important;
}

.backgound-img {
    background-image: url('../img/sfeer/_DSC0062.jpg');
    background-size: cover;
    background-position: top;
}

.backgound-img-menu {
    background-image: url('../img/sfeer/groente_boeket.jpg');
    background-size: cover;
    background-position: top;
}

.white{
    color: white!important;
}

@media only screen and (max-width: 600px) {
    nav ul li a {
        text-align: center;
    }
    .textIndent{
        padding-left: 0!important;
    }

    .textIndent h3 {
        text-align: left;
    }

    main{
        margin-bottom: 10vh;
    }
}
